.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.tools {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.tools > * {
  margin-right: 10px;
}

.tools > :last-child {
  margin-right: 0;
}
