.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.companyName > p {
  font-weight: bold;
  margin: 0;
}

.user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user > p {
  margin: 0 10px 0 0;
}

.user > span {
  color: lightgray;
}
