.header {
  margin: 0 0 20px 0;
}

.subtitle {
  margin: 0 0 40px 0;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.actions > * {
  margin-right: 10px;
}

.actions > *:last-child {
  margin-right: 0;
}
